                  <div class="reai-form">
								<div class="reai-form-item">
									<label class="reai-form-label">文章标题</label>
									<div class="reai-input-block">
										<input type="text" name="title" class="reai-input" value='{if condition="isset($artlist)"} {$artlist.title}{/if}'  autocomplete="off" placeholder="文章标题">
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">关键词</label>
									<div class="reai-input-block">
										<input type="text" name="keywords" class="reai-input" value='{if condition="isset($artlist)"} {$artlist.keywords}{/if}' autocomplete="off" placeholder="关键词">
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">文章描述</label>
									<div class="reai-input-block">
										<input type="text" name="description" class="reai-input" value='{if condition="isset($artlist)"} {$artlist.description}{/if}' autocomplete="off" placeholder="文章描述">
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">作者</label>
									<div class="reai-input-inline">
										<input type="text" name="author" class="reai-input" value='{if condition="isset($artlist)"} {$artlist.author}{/if}' autocomplete="off" placeholder="请输入内容">
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">文章标签</label>
									<div class="reai-input-block">
										<div class="reai-form-checkbox" name="label">
											{volist name="labellist" id="vo"}
											<div class="input-checkbox" value="{$vo.labelname}" ><span>{$vo.labelname}</span><i class="reai-ico reai-ico-ok"></i></div>
											{/volist}
										</div>
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">封面图</label>
									<div class="reai-input-block">
									<div class="reai-file" name="coverimg" value="点击此处上传封面图"></div>
									{if condition="isset($artlist.coverimg)"} 
									<a style="color:red;font-size:12px;text-decoration: underline;" href="{$artlist.coverimg}" target="_blank">查看已传</a>
									{else /}
									 <span style="color:red;font-size:12px;">未上传</span>
									{/if}
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">轮播图</label>
									<div class="reai-input-block">
									<div class="reai-file" name="slideimg" value="点击此处上传轮播图"></div>
									{if condition="isset($artlist.slideimg)"}
									<a style="color:red;font-size:12px;" href="{$artlist.slideimg}" target="_blank">查看已传</a>
									{else /}
									 <span style="color:red;font-size:12px;">未上传</span>
									{/if}
									</div>
								</div>
                                  <div class="reai-form-item">
									<label class="reai-form-label">推荐等级</label>
									<div class="reai-input-block">
										<div class="reai-form-select" name="recommend" select='{if condition="isset($artlist)"} {$artlist.recommend-1}{/if}' >
											<div class="reai-select-title">
												<input  type="text" placeholder="请选择" readonly/>
												<i class="reai-ico reai-ico-left"></i>
											</div>
											<dl class="reai-select-list">
												<dd class="reai-select-tips select-list-open">请选择</dd>
												<dd>1级——普通推文</dd>
												<dd>2级——精选推文</dd>
												<dd>3级——热门推文</dd>
												<dd>4级——置顶推文</dd>
												<dd>5级——轮播设置</dd>
											</dl>
										</div>
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">文章分类</label>
									<div class="reai-input-block">
										<div class="reai-form-select" name="type" select='{if condition="isset($artlist)"} {volist name="typelist" id="vo" key="0"}{if condition="isset($artlist) and ($vo.typename eq $artlist.type)"} {$key}{else /}{/if}{/volist}{/if}'>
											<div class="reai-select-title">
												<input  type="text" placeholder="请选择" readonly/>
												<i class="reai-ico reai-ico-left"></i>
											</div>
											<dl class="reai-select-list">
												<dd class="reai-select-tips select-list-open">请选择</dd>
												{volist name="typelist" id="vo"}
												<dd value="{$vo.typename}|{$vo.cateid}">{$vo.typename}</dd>
												{/volist}
											</dl>
										</div>
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">附件</label>
									<div class="reai-input-block">
									<div class="reai-file" name="file" value="点击此处上附件" size="20000000" type=""></div>
									{if condition="isset($artlist.file)"}
									<a style="color:red;font-size:12px;" href="{$artlist.file}" target="_blank">查看已传</a>
									{else /}
									 <span style="color:red;font-size:12px;">未上传</span>
									{/if}
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">文章状态</label>
									<div class="reai-input-inline">
										<div class="reai-form-switch" name="status" select='{if condition="isset($artlist)"}{$artlist.status}{else/}true{/if}'>
											<div class="form-switch-box">
											<span class="form-switch-slid"></span><i>OFF</i>
										</div>
										</div>
									</div>
								</div>
								<div class="reai-form-item">
									<label class="reai-form-label">内容</label>
									<div class="reai-input-block">
			                    <script id="editor" type="text/plain" style="height:200px;width: 100%;"></script>
									</div>
								</div>
								{include file="public:ueditor" /}
								
								
