<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__COMMON__/css/reai.ico.css"/>
		<link rel="stylesheet" type="text/css" href="__COMMON__/css/reai.min.css"/>
		<script src="__COMMON__/js/reai.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__INSTALL__/css/style.css"/>
	</head>
	<body>
		<div class="install-title">ReaiCMS</div>
	  <div class="container">
		<div class="reai-col-md3 reai-col-sm12">
			<ul class="reai-install-list">
				<li class="title">安装步骤</li>
				<li>安装须知</li>
				<li>环境监测</li>
				<li>创建数据库</li>
				<li>安装</li>
				<li class="active">完成</li>
			</ul>
		</div> 
		  <div class="reai-col-md9 reai-col-sm12" >
			<div class="reai-install-nav">
			<h3>ReaiCMS安装完成</h3>
			<div style="height:280px;display: flex;flex-direction: column;justify-content: center;">
			<div style="color:red;font-size: 14px;text-align: center;height: 60px;line-height: 60px;">恭喜您!已经完成安装</div>
			<div class="reai-install-btn">
			<button type="button" class="reai-btn reai-btn-normal "><a href="{$index_url}">进入前台页面</a></button>
			<button type="button" class="reai-btn"><a href="{$admin_url}">进入后台管理</a></button>
			</div>	
			</div>
			</div>  
		  </div>

	  </div>
	</body>
</html>
