<div class="header">
		<div class="box-lg header-box">
			<div class="header-box-nav">
				<div class="logo"><img src="{$basic.weblogo}" alt=""></div>
				<div class="header-cotrol">
					<i class="list-event  reai-ico reai-ico-spread-left"></i>
					<div class="header-list">
					<ul>
					{menu name="vo" num="4" }
					<li>
						<a href="{$vo.url}" target="_self">{$vo.menuname}</a>
					</li>
					{/menu}	
					</ul>
					<div class="header-search">
						<input type="text" class="reai-input" placeholder="请输入搜索内容">
						<i class="reai-ico reai-ico-search"></i>
					</div>
					</div>
				</div>
			</div>
		</div>
</div>
<script type="text/javascript">
	let search_btn=document.querySelector(".header-search .reai-ico");
    search_btn.addEventListener('click',function(){
	   let search=document.querySelector(".header-search input");
	   let url='/index/search?search='+search.value;
	   window.location.href=url;
	})
	let open_list=document.querySelector(".list-event");
	let list=document.querySelector('.header-list');
	let body=document.querySelector('body');
	open_list.addEventListener('click',function(){
		let _this=this;
		if(!this.windowOpen){
			list.classList.add('header-list-open');
			this.windowOpen=true;
			this.classList.replace('reai-ico-spread-left','reai-ico-shrink-right')
		    let div=document.createElement('div');
			this.hiddenDom=div;
		    div.className="background-hidden";
			body.appendChild(div);
			div.addEventListener('click',function(){
				list.classList.remove('header-list-open');
				_this.classList.replace('reai-ico-shrink-right','reai-ico-spread-left');
				this.remove();
				_this.windowOpen=false;
			},false)
		}else{
			list.classList.remove('header-list-open');
			this.classList.replace('reai-ico-shrink-right','reai-ico-spread-left');
			this.hiddenDom.remove();
			this.windowOpen=false;
		}
	},false)
	
</script>